@using Services.Features.PatientManagement.Dtos
@using Services.Features.UserAccounts.Dtos.User
@using Services.State
@using Services.Features.Appointments.Dtos
@using Services.Features.Settings.Dtos
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Schedule
<MudDialog>
    <TitleContent>
        <MudStack Row>
            <MudItem>
                <MudText Align="Align.Center" Style="font-weight: bolder">@_title</MudText>
            </MudItem>
        </MudStack>
    </TitleContent>
    <DialogContent>
        @if (!_loadScreen)
        {
            <Validations @ref="_validationsRef" Mode="ValidationMode.Manual" Model="@Appointment">
                <MudStack>
                    @if (Id != 0)
                    {
                        <PatientAppointmentCard Patient="_patient" />

                    }
                    <MudItem>
                        <MudText Color="MudColor.Error" Class="text-bold">@_error</MudText>
                    </MudItem>
                    <MudItem>
                        <PatientAutoComplete PatientList="PatientList" OnChangePatient="ChangePatient"></PatientAutoComplete>
                    </MudItem>

                    <MudItem>
                        <MudStack Row>
                            <MudItem md="12">
                              <Label>Start Time:</Label>
                                <SfDateTimePicker Min="@DateTime.Today"  TValue="DateTime" Value="@Appointment.StartTime" ></SfDateTimePicker>
                            </MudItem>
                        </MudStack>
                    </MudItem>
                    <MudItem md="12">
                        <Label>Appointment Type:</Label>
                        <SfDropDownList TValue="int" TItem="AppointmentTypeDto" Placeholder="Select type" DataSource="@AppointmentTypes">
                            <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                            <DropDownListEvents TValue="int" TItem="AppointmentTypeDto" ValueChange="OnAppointmentTypeChanged"></DropDownListEvents>
                        </SfDropDownList>
                    </MudItem>
                    <MudItem>
                        <MudStack Row>
                            <MudItem md="6">
                                <Label>HCP:</Label>
                                <SfDropDownList TValue="Guid" TItem="HealthcareDto" Placeholder="Select Hcp" DataSource="@HealthCares" @bind-Value="@Appointment.HcpId">
                                    <DropDownListFieldSettings Value="Id" Text="FullName"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </MudItem>
                            <MudItem md="6">
                                <Label>Duration</Label>
                                <SfNumericTextBox TValue="int" Value=@Appointment.Duration Min="15" Step="5" Max="60"></SfNumericTextBox>
                            </MudItem>

                        </MudStack>
                    </MudItem>
                    <MudItem md="12">
                        <SfRecurrenceEditor EndTypes="@Endtypes"></SfRecurrenceEditor>
                    </MudItem>
                    <MudItem>
                        <FieldLabel>Notes</FieldLabel>
                        <SfTextBox @bind-Value="@Appointment.Description" Multiline></SfTextBox>
                    </MudItem>
                </MudStack>
            </Validations>
        }
        else
        {
            <CommonLoader />
        }


    </DialogContent>
    <DialogActions>

        @if (!_loadScreen)
        {
            @if (Id !=0)
            {
                <DexLoadingButton Name="Cancel Appointment" Processing="_processing" Click="@CancelAppointment" Icon="fas fa-ban"></DexLoadingButton>
            }

            <DexLoadingButton Name="Save Appointment" Click="@SaveAppointment" Processing="_processing" Icon="fas fa-floppy-disk"></DexLoadingButton>
        }

    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] public MudDialogInstance MudDialog { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public string Action { get; set; }
    [Parameter] public DateTime StartDate { get; set; }
    [Parameter] public List<PatientListDto> PatientList { get; set; }
    [Parameter] public List<HealthcareDto> HealthCares { get; set; } = new();

    private AppointmentDto Appointment { get; set; } = new();
    private List<AppointmentTypeDto> AppointmentTypes { get; set; } = new();
    PatientListDto _patient;
    Validations _validationsRef;
    private string _error;
    private string _title;
    private bool _processing;
    private bool _loadScreen;
    string RecurrenceRule { get; set; } = string.Empty;

    List<EndType> Endtypes = new List<EndType>()
    {
       EndType.Until, EndType.Count
    };
    protected override async Task OnInitializedAsync()
    {
        _loadScreen = true;
        //For New Appointment
        if (Id == 0)
        {
            _title = "New Appointment";
            Appointment.StartTime = StartDate;
        }
        else
        {
            _title = "Edit Appointment";
            var res = await UnitOfWork.Appointment.GetAppointment(Id);
            if (res.Succeeded)
            {
                Appointment = Mapper.Map<AppointmentDto>(res.Data);
               // _patient = res.Data.Patient;
            }
        }

        await GetAppointmentTypes();
        _loadScreen = false;

    }

    private void ChangePatient(PatientListDto patient)
    {
        if (patient.Id != Guid.Empty)
        {

            Appointment.PatientId = patient.Id;
        }
    }

    private async Task GetAppointmentTypes()
    {
        AppointmentTypes = await UnitOfWork.Setting.GetAppointmentTypes();
    }
    private async Task SaveAppointment()
    {

        _processing = true;
        _error = "";
        if (Appointment.PatientId == Guid.Empty)
        {
            _error = "Please select patient";
            Snackbar.FailMessge("Please select patient");
            _processing = false;
            return;

        }
        if (Appointment.AppointmentTypeId == 0)
        {
            _error = "Please select appointment type";
            Snackbar.FailMessge("Please select appointment type");
            _processing = false;
            return;

        }
        if (Appointment.HcpId == Guid.Empty)
        {
            _error = "Please select Health care professional";
            Snackbar.FailMessge("Please select Health care professional");
            _processing = false;
            return;
        }

        if (await _validationsRef.ValidateAll())
        {
            await Task.Delay(2500);
            var res = await UnitOfWork.Appointment.SaveAppointment(Id, Appointment);
            if (res.Succeeded)
            {
                Snackbar.SuccessMessge(res.Messages.First());
                MudDialog.Close();
            }
            await _validationsRef.ClearAll();
        }

        _processing = false;
    }

    Task OnAppointmentTypeChanged(ChangeEventArgs<int, AppointmentTypeDto> args)
    {
        var duration = AppointmentTypes
        .FirstOrDefault(x => x.Id == args.Value)!.Duration;
        Appointment.AppointmentTypeId = args.Value;
        Appointment.Duration = duration;
        return Task.CompletedTask;
    }

    private async Task CancelAppointment()
    {
        var parameters = new DialogParameters();
        parameters.Add("AppointmentId", Id);
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, Position = DialogPosition.Center };
        var dialogResult = await DialogService.ShowAsync<CancelAppointment>("", parameters, options);
        var result = await dialogResult.Result;
        if (!result.Canceled)
        {
            MudDialog.Close();
        }

    }
    void HandleRecurrenceEditorChange(string value)
    {
        RecurrenceRule = value;
    }
    List<RepeatType> Repeats = new List<RepeatType>()
    {
       RepeatType.None, RepeatType.Daily, RepeatType.Weekly
    };

}