<style>
    .e-listview.e-lib {
        box-shadow: 0 1px 4px #ddd;
        border-bottom: 1px solid #ddd;
        width: 250px;
    }

    .sample {
        justify-content: center;
        min-height: 280px;
    }

    .padding {
        padding: 4px;
    }

    .right__align {
        text-align: right;
        margin-right: 8px;
        padding-right: 8px;
    }

    .left__align {
        margin-left: 8px;
        padding-left: 8px;
    }

    .content__container {
        background-color: aliceblue;
    }

    .flex {
        display: flex;
    }

    .flex__center {
        justify-content: center;
    }

    .vertical__center {
        align-items: center;
    }

    .vertical {
        flex-direction: column;
    }

    .flex__order__1 {
        order: 1;
    }

    .flex__order__2 {
        order: 2;
    }

    .flex__1 {
        flex: 1;
    }

    .flex__2 {
        flex: 2;
    }

    .flex__3 {
        flex: 3;
    }

    .flex__5 {
        flex: 5;
    }

    .flex__8 {
        flex: 8;
    }

    .bold {
        font-weight: 500;
    }

    .margin {
        margin: 10px;
    }

    .small__font {
        font-size: 13px;
        margin: 2px 0;
    }
</style>

<TabTitle Title="Schedule Immunisations" Icon="immunisation-schedule1.png">
</TabTitle>

<MudItem md="4">

    <SfDropDownList TValue="string" TItem="Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram" Placeholder="Select a Schedule" DataSource="@_setups" CssClass="mt-3">
        <DropDownListFieldSettings Value="Name" Text="Name"/>
        <DropDownListEvents TValue="string" TItem="Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram" ValueChange="OnChangeSetup"></DropDownListEvents>
    </SfDropDownList>

    <DexForm Model="_scheduleProgram" OnValidSubmit="SaveCourse" ColumnCount="3">
        <Fields>
            <FormItem Field="@nameof(Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram.Name)" LabelText="Title" ColumnSpan="3"/>
            <FormItem Field="@nameof(Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram.IsActive)" EditorType="FormEditorType.Checkbox" LabelText="Active" ColumnSpan="1"/>
            <FormItem Field="@nameof(Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram.IsDefualt)" EditorType="FormEditorType.Checkbox" LabelText="Default" ColumnSpan="1"/>
            <FormItem Field="@nameof(Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram.IsChildhood)" EditorType="FormEditorType.Checkbox" LabelText="Childhood" ColumnSpan="1"/>
        </Fields>
        <Buttons>

            <button type="submit" class="e-btn">@(_scheduleProgram.Id > 0 ? "Update" : "Add New")</button>
            <button class="e-btn" @onclick="ClearForm">Clear</button>
        </Buttons>
    </DexForm>
</MudItem>
<MudGrid>
    @if (_scheduleProgram.Id > 0)
    {
        <MudItem xs="12" sm="8" md="12" Class="d-flex flex-column align-center justify-center">
            <div id="container">
                <div class="sample flex">
                    <div class="flex">
                        <div class="padding">
                            <p class="text-bold">All Course:</p>
                            <SfTextBox Placeholder="Filter" Input="@(e => OnInput(e, 1))"></SfTextBox>
                            <SfListView DataSource="@_allCourses">
                                <ListViewFieldSettings TValue="Course" Id="Id" Text="Name"></ListViewFieldSettings>
                                <ListViewEvents TValue="Course" Clicked="@(e => OnSelected(e, 1))"></ListViewEvents>
                            </SfListView>
                            <button disabled="@(_sourceItemSelected == null)" class="e-btn m-3" @onclick="@(e => OnButtonClick(2))">@("Add Item")</button>

                        </div>
                        <div class="flex vertical vertical__center flex__center padding">
                            <div class="padding">
                            </div>
                            <div class="padding">
                            </div>
                        </div>
                        <div class="padding">
                            <p class="text-bold">Selected Courses:@($"{_selectedCourse.Count}")</p>
                            <SfTextBox Placeholder="Filter" Input="@(e => OnInput(e, 2))"></SfTextBox>
                            <SfListView DataSource="@_destinationList">
                                <ListViewFieldSettings Id="Id" Text="Name" TValue="Course"></ListViewFieldSettings>
                                <ListViewEvents TValue="Course" Clicked="@(e => OnSelected(e, 2))"></ListViewEvents>
                            </SfListView>
                            <button disabled="@(_destinationItemSelected == null)" class="e-btn m-3" @onclick="@(e => OnButtonClick(3))">@("Remove Item")</button>

                        </div>
                        @* <div class="flex vertical vertical__center flex__center padding"> *@
                        @*     <div class="padding"> *@
                        @*         <button class="e-btn" @onclick="MoveUp"> *@
                        @*             <span class="fa fa-arrow-alt-circle-up"></span> *@
                        @*         </button> *@
                        @*     </div> *@
                        @*     <div class="padding"> *@
                        @*         <button class="e-btn" @onclick="MoveDown"> *@
                        @*             <span class="fa fa-arrow-alt-circle-down"></span> *@
                        @*         </button> *@
                        @*     </div> *@
                        @* </div> *@
                    </div>
                </div>
            </div>
            <button type="button" class="e-btn" @onclick="SelectCourse">Save</button>
        </MudItem>
    }
</MudGrid>

@code {
    private List<Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram> _setups = new();
    private Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram _scheduleProgram = new();
    List<Course> _allCourses = [];
    List<Course> _selectedCourse = [];


    List<Course> _sourceList;
    List<Course> _destinationList;
    Course _sourceItemSelected;
    Course _destinationItemSelected;

    protected override async Task OnInitializedAsync()
    {
        await GetImmunisationsSetup();
        await GetCourses();
    }

    private async Task GetCourses()
    {
        _allCourses = await UnitOfWork.Setting.GetCourses();
        _sourceList = _allCourses;
    }

    private async Task GetImmunisationsSetup()
    {
        _setups = await UnitOfWork.Setting.GetImmunisationPrograms();
    }

    private async Task OnChangeSetup(ChangeEventArgs<string, Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram> args)
    {
        if (args.ItemData is null) return;
        var immunisationSetup = args.ItemData;
        _scheduleProgram.Id = immunisationSetup.Id;
        _scheduleProgram.Name = immunisationSetup.Name;
        _scheduleProgram.IsActive = immunisationSetup.IsActive;
        _scheduleProgram.IsDefualt = immunisationSetup.IsDefualt;
        _scheduleProgram.IsChildhood = immunisationSetup.IsChildhood;
        _selectedCourse = await UnitOfWork.Setting.GetAssignedCoursesOfProgram(immunisationSetup.Id);
        _destinationList = _selectedCourse;
    }

    private async Task SaveCourse()
    {
        var res = await UnitOfWork.Setting.SaveImmunisationProgram(_scheduleProgram.Id, _scheduleProgram);
        if (res.Succeeded)
        {
            Snackbar.SuccessMessage(res.Messages.First());
        }
        else
        {
            Snackbar.FailMessge(res.Messages.First());
        }

        await GetImmunisationsSetup();
        await ClearForm();
    }

    private async Task ClearForm()
    {
        _scheduleProgram = new Domain.Entities.Settings.Consultation.Immunisation.ImmunisationProgram();
        await GetImmunisationsSetup();
    }


    private async Task SelectCourse()
    {
        var res = await UnitOfWork.Setting.AssignedCourseToSchedule(_scheduleProgram.Id, _selectedCourse.Select(x => x.Id).ToList());
        if (res.Succeeded)
        {
            Snackbar.SuccessMessage(res.Messages.First());
        }
        else
        {
            Snackbar.FailMessge(res.Messages.First());
        }
    }

    void OnButtonClick(int buttonIndex)
    {
        switch (buttonIndex)
        {
            case 2:
                if (_sourceItemSelected != null)
                {
                    if (_destinationList.Any(x => x.Id == _sourceItemSelected.Id))
                    {
                        Snackbar.FailMessge("Item already exists");
                        return;
                    }

                    _selectedCourse.Add(_sourceItemSelected);
                    // _allShots.RemoveAt(_allShots.FindIndex(e => e.Id == _sourceItemSelected.Id));
                    //_sourceList = [.._allShots];
                    _destinationList = [.._selectedCourse];
                    _sourceItemSelected = null;
                }

                break;
            case 3:
                if (_destinationItemSelected != null)
                {
                    _selectedCourse.RemoveAt(_selectedCourse.FindIndex(e => e.Id == _destinationItemSelected.Id));
                    _destinationList = [.._selectedCourse];
                    _destinationItemSelected = null;
                }

                break;

            default:
                break;
        }
    }

    void OnSelected(ClickEventArgs<Course> eventArgs, int listviewIndex)
    {
        StateHasChanged();
        if (listviewIndex == 1)
        {
            _sourceItemSelected = eventArgs.ItemData;
        }
        else
        {
            _destinationItemSelected = eventArgs.ItemData;
        }
    }

    void OnInput(InputEventArgs eventArgs, int listviewIndex)
    {
        if (listviewIndex == 1)
        {
            _sourceList = _allCourses.FindAll(e => e.Name.ToLower().Contains(eventArgs.Value.ToLower()));
        }
        else
        {
            _destinationList = _selectedCourse.FindAll(e => e.Name.ToLower().Contains(eventArgs.Value.ToLower()));
        }
    }

    void MoveUp()
    {
        if (_destinationItemSelected != null)
        {
        }
    }

    void MoveDown()
    {
        if (_destinationItemSelected != null)
        {
        }
    }

}