@using Domain.Entities.Settings.Templates.InvestigationTemplates
@using Services.Features.Settings.Dtos
<TabTitle Title="Investigations"></TabTitle>
<MudStack Row>
    <MudItem md="3">
        <SfGrid DataSource="_templates" Height="400px">
            <GridEvents RowSelected="SelectedTemplateRow" TValue="InvestigationDto"></GridEvents>
            <GridColumns>
                <GridColumn Field="@nameof(InvestigationDto.Name)"/>
            </GridColumns>
        </SfGrid>
        <DexForm Model="_template" ColumnCount="2" OnValidSubmit="SaveInvestigationTemplate">
            <Fields>
                <FormItem Field="@nameof(InvestigationDto.Name)" ColumnSpan="2"/>
                <FormItem Field="@nameof(InvestigationDto.IsActive)" LabelText="Active" ColumnSpan="2"/>
            </Fields>
            <Buttons>
                <DexLoadingButton Name="Save" Type="MudButtonType.Submit"/>
                @if (_template.Id != Guid.Empty)
                {
                    <DexLoadingButton Color="MudColor.Secondary" Name="Delete" Click="() => DeleteTemplate(_template.Id)"/>
                }
            </Buttons>
        </DexForm>
    </MudItem>
    <MudItem md="8">
        <DexForm Model="_detail" ColumnCount="2" OnValidSubmit="SaveDetails">
            <Fields>
                <FormItem Field="@nameof(InvestigationDetailDto.Name)" ColumnSpan="1" IsEnabled="@(_template.Id != Guid.Empty)"/>
                <FormItem Field="@nameof(InvestigationDetailDto.AbsoluteMinimum)" LabelText="Absolute Minimum" ColumnSpan="1" IsEnabled="@(_template.Id != Guid.Empty)"/>
                <FormItem Field="@nameof(InvestigationDetailDto.FieldType)" LabelText="Field Type" ColumnSpan="1" IsEnabled="@(_template.Id != Guid.Empty)">
                    <Template>
                        <SfDropDownList TValue="string" TItem="InvestigationFieldType" Placeholder="" DataSource="@SettingConstants.FieldTypes" @bind-Value="@_detail.FieldType" Enabled="@(_template.Id != Guid.Empty)">
                            <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                            <DropDownListEvents TValue="string" TItem="InvestigationFieldType" ValueChange="OnFieldTypeValueChange"></DropDownListEvents>
                        </SfDropDownList>
                        @if (_showListValue)
                        {
                            <div class="mt-2">
                                <MudStack Row>
                                    <MudItem>
                                        <SfDropDownList TValue="Guid" TItem="InvestigationSelectionList" Placeholder="" DataSource="_selectionList" @bind-Value="@_detail.InvestigationSelectionListId">
                                            <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                        </SfDropDownList>
                                    </MudItem>
                                    <MudItem>
                                        <button type="button" class="btn btn-sm btn-primary" @onclick="AddSelectionListValues">...</button>
                                    </MudItem>
                                </MudStack>

                            </div>
                        }
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(InvestigationDetailDto.AbsoluteMaximum)" LabelText="Absolute Maximum" ColumnSpan="1" IsEnabled="@(_template.Id != Guid.Empty)"/>
                <FormItem Field="@nameof(InvestigationDetailDto.Description)" EditorType="FormEditorType.TextArea" ColumnSpan="1" IsEnabled="@(_template.Id != Guid.Empty)"/>
                <FormItem Field="@nameof(InvestigationDetailDto.NormalMinimum)" ColumnSpan="1" LabelText="Normal Minimum" IsEnabled="@(_template.Id != Guid.Empty)"/>
                <FormItem Field="@nameof(InvestigationDetailDto.IsActive)" ColumnSpan="1" LabelText="Active" EditorType="FormEditorType.Checkbox" IsEnabled="@(_template.Id != Guid.Empty)"/>
                <FormItem Field="@nameof(InvestigationDetailDto.NormalMaximum)" ColumnSpan="1" LabelText="Normal Maximum" IsEnabled="@(_template.Id != Guid.Empty)"/>
                <FormItem Field="@nameof(InvestigationDetailDto.IsMaindatory)" ColumnSpan="1" LabelText="Mandatory" EditorType="FormEditorType.Checkbox" IsEnabled="@(_template.Id != Guid.Empty)"/>
            </Fields>
            <Buttons>
                <DexLoadingButton Name="Save" Type="MudButtonType.Submit"/>
                @if (_detail.Id != Guid.Empty)
                {
                    <DexLoadingButton Color="MudColor.Secondary" Name="Delete" Click="() => DeleteDetails(_detail.Id)"/>
                }
            </Buttons>
        </DexForm>
        <div class="mt-2">
            <SfGrid DataSource="_details" Height="200px">
                <GridEvents RowSelected="SelectedDetailRow" TValue="InvestigationDetailDto"></GridEvents>

                <GridColumns>
                    <GridColumn Field="@nameof(InvestigationDetailDto.Name)"/>
                    <GridColumn Field="@nameof(InvestigationDetailDto.FieldType)" HeaderText="Field Type"/>
                    <GridColumn Field="@nameof(InvestigationDetailDto.NormalMaximum)" HeaderText="Min"/>
                    <GridColumn Field="@nameof(InvestigationDetailDto.NormalMinimum)" HeaderText="Max"/>
                    <GridColumn Field="@nameof(InvestigationDetailDto.Unit)"/>
                </GridColumns>
            </SfGrid>
        </div>
    </MudItem>
</MudStack>

@code {
    private List<InvestigationDto> _templates = new();
    private List<InvestigationDetailDto> _details = new();
    private List<InvestigationSelectionList> _selectionList = new();
    private InvestigationDto _template = new();
    private InvestigationDetailDto _detail = new();
    private bool _showListValue;

    protected override async Task OnInitializedAsync()
    {
        await GetInvestigationTemplates();
    }

    private async Task GetInvestigationTemplates()
    {
        _templates = await UnitOfWork.Setting.GetInvestigations();
    }

    private async Task GetInvestigationDetails(Guid templateId)
    {
        _details = await UnitOfWork.Setting.GetInvestigationDetails(templateId);
    }

    private async Task GetInvestigationSelectionList()
    {
        _selectionList = await UnitOfWork.Setting.GetInvestigationSelectionList();
    }

    private async Task SaveInvestigationTemplate()
    {
        var res = await UnitOfWork.Setting.SaveInvestigation(_template);
        if (res.Succeeded)
        {
            Snackbar.SuccessMessage(res.Messages.First());
            await GetInvestigationTemplates();
            _template = new();
        }
        else
        {
            Snackbar.FailMessage(res.Messages.First());
        }
    }

    private async Task SelectedTemplateRow(RowSelectEventArgs<InvestigationDto> arg)
    {
        var template = arg.Data;
        _template = template;
        await GetInvestigationDetails(template.Id);
    }

    private async Task DeleteTemplate(Guid id)
    {
        var parameters = new DialogParameters();
        var dialogresult = await DialogService.ShowAsync<DialogConfirm>("Confirm", parameters);
        var result = await dialogresult.Result;
        if (!result.Canceled && Convert.ToBoolean(result.Data.ToString()))
        {
            var res = await UnitOfWork.Setting.DeleteInvestigation(id);
            await GetInvestigationTemplates();
            Snackbar.SuccessMessage(res.Messages.First());
            _template = new();
            StateHasChanged();
        }
    }

    private async Task SaveDetails()
    {
        _detail.InvestigationId = _template.Id;
        var res = await UnitOfWork.Setting.SaveInvestigationDetail(_detail);
        if (res.Succeeded)
        {
            Snackbar.SuccessMessage(res.Messages.First());
            await GetInvestigationDetails(_template.Id);
            _detail = new();
        }
        else
        {
            Snackbar.FailMessage(res.Messages.First());
        }
    }


    private void SelectedDetailRow(RowSelectEventArgs<InvestigationDetailDto> obj)
    {
        _detail = obj.Data;
    }

    private async Task DeleteDetails(Guid detailId)
    {
        var parameters = new DialogParameters();
        var dialogresult = await DialogService.ShowAsync<DialogConfirm>("Confirm", parameters);
        var result = await dialogresult.Result;
        if (!result.Canceled && Convert.ToBoolean(result.Data.ToString()))
        {
            var res = await UnitOfWork.Setting.DeleteInvestigationDetails(detailId);
            await GetInvestigationDetails(_template.Id);
            Snackbar.SuccessMessage(res.Messages.First());
            _detail = new();
            StateHasChanged();
        }
    }

    private async Task OnFieldTypeValueChange(ChangeEventArgs<string, InvestigationFieldType> args)
    {
        if (args.ItemData is not null)
        {
            if (args.ItemData.Name == "List Selection")
            {
                _showListValue = true;
                await GetInvestigationSelectionList();
            }
            else
            {
                _showListValue = false;
                _detail.FieldType = args.ItemData.Name;
            }
        }
    }

    private async Task AddSelectionListValues()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions() {CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, Position = DialogPosition.Center};
        var dialogresult =   await DialogService.ShowAsync<SelectionListDialog>("", parameters, options);
        var result = await dialogresult.Result;
        if (result.Canceled)
        {
            await GetInvestigationSelectionList();
        }
    }

}