@using Dexterity.Components.Pages.Appointments.Components.Recurrence.Dialogs
@using Services.Features.Appointments.Dtos
@using Services.Features.Settings.Dtos
@using Services.Features.UserAccounts.Dtos.User
@using Syncfusion.Blazor.Calendars

<TabTitle Title="Add Recurrence"></TabTitle>
<Validations Mode="ValidationMode.Manual" Model="@Appointment">
    <MudStack>
        <MudItem>
            <MudText Color="MudColor.Error" Class="text-bold">@_error</MudText>
        </MudItem>
        <MudItem>
            <PatientAutoComplete PatientList="PatientList" OnChangePatient="ChangePatient"></PatientAutoComplete>
        </MudItem>
        <MudItem>
            <Label>HCP:</Label>
            <SfDropDownList TValue="Guid" TItem="HealthcareDto" Placeholder="Select Hcp" DataSource="@HealthCares" @bind-Value="@Appointment.HcpId">
                <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
            </SfDropDownList>
        </MudItem>
        <MudItem md="12">
            <MudStack Row>
                <MudItem md="6">
                    <Label>Appointment Type:</Label>
                    <SfDropDownList TValue="int" TItem="AppointmentTypeDto" Placeholder="Select type" DataSource="@AppointmentTypes" @bind-Value="@Appointment.AppointmentTypeId">
                        <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="int" TItem="AppointmentTypeDto" ValueChange="OnAppointmentTypeChanged"></DropDownListEvents>
                    </SfDropDownList>
                </MudItem>
                <MudItem md="6">
                    <Label>Start Time:</Label>
                    <SfDateTimePicker Min="@DateTime.Today" TValue="DateTime" Value="@Appointment.StartTime">
                        <DateTimePickerEvents TValue="DateTime" ValueChange="@OnChange">
                        </DateTimePickerEvents>
                    </SfDateTimePicker>

                </MudItem>
            </MudStack>
        </MudItem>
        <MudItem md="12">
            <MudStack Row>
                <MudItem md="6">
                    <Label>Site:</Label>
                    <SfDropDownList TValue="int" TItem="ClinicSiteDto" Placeholder="Select Site" DataSource="@ClinicSites" @bind-Value="@Appointment.ClinicSiteId">
                        <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="int" TItem="ClinicSiteDto" ValueChange="OnCliniSiteChanged"></DropDownListEvents>
                    </SfDropDownList>
                </MudItem>
                <MudItem md="6">
                    <Label>Duration</Label>
                    <SfNumericTextBox TValue="int" Value=@Appointment.Duration Min="5" Step="5" Max="60"></SfNumericTextBox>
                </MudItem>

            </MudStack>
        </MudItem>
        <MudItem Class="mt-3">
            <MudText>@Appointment.RecurrenceRule</MudText>
            <SfRecurrenceEditor @bind-Value="@Appointment.RecurrenceRule" Frequencies="_repeats" EndTypes="@_endtypes"></SfRecurrenceEditor>
        </MudItem>
        <DexSimpleButton Name="Validate" Click="ValidateAppointments" FullWidth="false"></DexSimpleButton>
    </MudStack>
</Validations>


@code {
    [Parameter] public List<HealthcareDto> HealthCares { get; set; } = [];
    [Parameter] public List<PatientListDto> PatientList { get; set; } = [];
    private AppointmentDto Appointment { get; set; } = new();
    private List<AppointmentTypeDto> AppointmentTypes { get; set; } = [];
    private List<ClinicSiteDto> ClinicSites { get; set; } = [];
    string RecurrenceRule { get; set; } = "";
    List<RepeatType> _repeats = [RepeatType.None, RepeatType.Daily, RepeatType.Weekly, RepeatType.Monthly];
    readonly List<EndType> _endtypes = [EndType.Until, EndType.Count];
    private string _error;
    protected override async Task OnInitializedAsync()
    {
        await GetAppointmentTypes();
        await GetClinicSites();
    }

    private async Task GetAppointmentTypes()
    {
        AppointmentTypes = await UnitOfWork.Setting.GetAppointmentTypes();
    }

    private async Task GetClinicSites()
    {
        ClinicSites = await UnitOfWork.Setting.GetSitesByClinic(ApplicationState.CurrentUser.ClinicId);
    }

    private void ChangePatient(ChangeEventArgs<Guid, PatientListDto> args)
    {
        var patient = args.ItemData;
        if (patient != null)
        {
            Appointment.PatientId = patient.Id;
            Appointment.PatientName = patient.FullName;
        }
    }

    Task OnAppointmentTypeChanged(ChangeEventArgs<int, AppointmentTypeDto> args)
    {
        var appointmentType = args.ItemData;
        Appointment.AppointmentTypeId = appointmentType.Id;
        Appointment.Duration = appointmentType.Duration;
        Appointment.Type = appointmentType.Name;
        return Task.CompletedTask;
    }
    Task OnCliniSiteChanged(ChangeEventArgs<int, ClinicSiteDto> args)
    {
        var clinicSite = args.ItemData;
        Appointment.Location = clinicSite.Name;
        return Task.CompletedTask;
    }

    private async Task ValidateAppointments()
    {
        _error = "";
        if (Appointment.PatientId == Guid.Empty)
        {
            _error = "Please select patient";
            return;
        }

        if (Appointment.AppointmentTypeId == 0)
        {
            _error = "Please select appointment type";
            return;
        }

        if (Appointment.HcpId == Guid.Empty)
        {
            _error = "Please select Health care professional";
            return;
        }

        if (!string.IsNullOrWhiteSpace(Appointment.RecurrenceRule))
        {
            var dateTimes = RecurringHelper.GetRecurrenceDateTimeCollection(Appointment.RecurrenceRule, Appointment.StartTime, 20).ToList();
            var parameters = new DialogParameters();
            parameters.Add("Appointment", Appointment);
            parameters.Add("DateTimes", dateTimes);
            var options = new DialogOptions()
                { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, Position = DialogPosition.Center };
            await DialogService.ShowAsync<ValidateAppointmentsDialog>("", parameters, options);
        }
        else
        {
            _error = "Please select Recurrence";
            return;
        }
    }

    private void OnChange(ChangedEventArgs<DateTime> args)
    {
        Appointment.StartTime = args.Value;
        StateHasChanged();
    }

}