@using Services.Features.Consultation.Dto.BaselineDetails
@using Services.Features.Consultation.Dto
<DexDialog>
    <DialogTitle>Baseline Details</DialogTitle>
    <Content>
        <DexForm Model="BaselineDetail" ColumnCount="3">
            <Fields>
                <FormGroup ColumnCount="2" LabelText="Physical Measurements" ColumnSpacing="15px">
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Weight)" ColumnSpan="1">
                        <Template>
                            <label class="e-form-label">Weight (kg)</label>
                            <SfNumericTextBox Value="@BaselineDetail.Weight" >
                                <NumericTextBoxEvents TValue="float" ValueChange="@WeightValueChangeHandler"></NumericTextBoxEvents>
                            </SfNumericTextBox>
                        </Template>
                    </FormItem>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Stone)" LabelText="Stone" ColumnSpan="1" IsEnabled="false"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Height)" LabelText="Height (cm)" ColumnSpan="1">
                        <Template>
                            <label class="e-form-label">Height (cm)</label>
                            <SfNumericTextBox Value="@BaselineDetail.Height" >
                                <NumericTextBoxEvents TValue="float" ValueChange="@HeightValueChangeHandler"></NumericTextBoxEvents>
                            </SfNumericTextBox>
                        </Template>
                    </FormItem>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.HeightInFt)" LabelText="Ft." ColumnSpan="1" IsEnabled="false"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Bmi)" LabelText="BMI" ColumnSpan="2"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.BloodGroup)" LabelText="Blood Group" ColumnSpan="2"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.AbdominalCircumference)" LabelText="Abdominal Circumference (cm)" ColumnSpan="2"/>
                </FormGroup>
                <FormGroup ColumnCount="1" LabelText="Social History">
                    <FormItem Field="@nameof(CreateBaselineDetailDto.SmokerStatus)" LabelText="Smoking" EditorType="FormEditorType.Checkbox"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.SmokePerDay)" LabelText="Smoke Per Day"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.ExSmokerYears)" LabelText="Ex-Smoker (Years)"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.SmokingStartDate)" LabelText="Smoking Start Date" EditorType="FormEditorType.DatePicker"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.DrinkingStatus)" LabelText="Drinking" EditorType="FormEditorType.Checkbox"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.WeeklyAlcohol)" LabelText="Weekly Alcohol" EditorType="FormEditorType.Checkbox"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.DrinkingStartDate)" LabelText="Alcohol Start Date" EditorType="FormEditorType.DatePicker"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.FamilyCvdHistory)" LabelText="Family CVD History" EditorType="FormEditorType.Checkbox" ColumnSpan="1"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Lvh)" LabelText="LVH" EditorType="FormEditorType.Checkbox" ColumnSpan="1"/>
                </FormGroup>
                <FormGroup ColumnCount="2" LabelText="BP, Pulse and Other" ColumnSpacing="15px">
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Systolic)" LabelText="Systolic" ColumnSpan="1"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Diastolic)" LabelText="Diastolic" ColumnSpan="1"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Cholesterol)" LabelText="Cholesterol" ColumnSpan="2"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Ldl)" LabelText="LDL" ColumnSpan="1"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Hdl)" LabelText="HDL" ColumnSpan="1"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Pulse)" LabelText="Pulse"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.PulseRhythm)" LabelText="Pulse Rhythm"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.Temperature)" LabelText="Temp (celsius)"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.PeakFlow)" LabelText="Peak Flow"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.RespiratoryRate)" LabelText="Respiratory Rate" ColumnSpan="2"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.CurrentOccupation)" LabelText="Current Occupation" ColumnSpan="2"/>
                    <FormItem Field="@nameof(CreateBaselineDetailDto.SubtanceMisuse)" LabelText="Substance Misuse" EditorType="FormEditorType.TextArea" ColumnSpan="2"/>

                </FormGroup>
            </Fields>
        </DexForm>
    </Content>
</DexDialog>

@code {
    public CreateBaselineDetailDto BaselineDetail { get; set; } =new();
    
    
    private void WeightValueChangeHandler(Syncfusion.Blazor.Inputs.ChangeEventArgs<float> args)
    {
        // Here you can customize your code
    }

    private void HeightValueChangeHandler(Syncfusion.Blazor.Inputs.ChangeEventArgs<float> args)
    {
        // Here you can customize your code
    }
}