@using Domain.Entities.Settings.Templates
@using Services.Features.Messaging.Dtos.Sms
@using Services.Features.PatientManagement.Dtos
@using Services.Features.PatientManagement.Dtos.Details
@using Syncfusion.Blazor.RichTextEditor
<TabTitle Title="Send Email"></TabTitle>
<div class="vertical-space">

    <DexForm Model="@_mailRequest" OnValidSubmit="SendSmsClick">
        <Fields>
            <FormItem Field="@nameof(MailRequest.Body)">
                <Template>
                    <label class="e-form-label">Template</label>
                    <SfDropDownList TValue="Guid" TItem="EmailTemplate" Placeholder="Select a template" DataSource="@EmailTemplates">
                        <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="Guid" TItem="EmailTemplate" ValueChange="OnValueChange"></DropDownListEvents>
                    </SfDropDownList>
                </Template>
            </FormItem>
            <FormItem Field="@nameof(MailRequest.To)">
                <Template>
                    <PatientAutoComplete PatientList="PatientList" OnChangePatient="ChangePatient"></PatientAutoComplete>
                </Template>
            </FormItem>
            <FormItem Field="@nameof(MailRequest.Body)">
                <Template>
                    <label class="e-form-label">Content</label>
                    <SfRichTextEditor @bind-Value="@_mailRequest.Body" Width="520px" />
                </Template>
            </FormItem>
            <FormItem Field="@nameof(MailRequest.Subject)">
                <Template>
                    <DexInputBox Label="Subject" @bind-FieldDataSource="_mailRequest.Subject" />

                </Template>
            </FormItem>
            <FormItem Field="@nameof(MailRequest.To)">
                <Template>
                    <DexInputBox Label="Email" @bind-FieldDataSource="_mailRequest.To" />
                </Template>
            </FormItem>
        </Fields>
        <Buttons>
            <DexLoadingButton Processing="_processing" Type="MudButtonType.Submit" Name="Send Mail"></DexLoadingButton>
        </Buttons>
    </DexForm>

</div>

@code {
    [Parameter] public List<PatientListDto> PatientList { get; set; } = new();
    private MailRequest _mailRequest = new();
    private bool _processing;
    private List<EmailTemplate> EmailTemplates { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await GetSmsTemplates();
    }


    private async Task GetSmsTemplates()
    {
        EmailTemplates = await UnitOfWork.Setting.GetEmailTemplates();
    }

    private void ChangePatient(ChangeEventArgs<Guid, PatientListDto> args)
    {
        var patient = args.ItemData;
        if (patient != null)
        {
            _mailRequest.To = patient.Email;
        }
    }

    private async Task SendSmsClick()
    {
        _processing = true;

        await Task.Delay(2500);
        await MailService.SendAsync(_mailRequest, default);
        Snackbar.SuccessMessge("Email has been sent.");

        _processing = false;
    }


    public void OnValueChange(ChangeEventArgs<Guid, EmailTemplate> args)
    {
        _mailRequest.Body = args.ItemData.Content;
    }

}