@layout MainLayout
@page "/messaging"
@using Dexterity.Components.Pages.Messaging.Tabs
<TopTitleBar Title="Communication"
             Image="modules/messaging/communication1.svg">
</TopTitleBar>
<style>
    
</style>
<div style="margin-top: 3%">
    <MudPaper Height="650px" Style="overflow:hidden; position:relative;">
        <MudDrawerContainer Class="mud-height-full">
            <MudDrawer Class="sub-drawer" Style="" @bind-Open="@_open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini"
                       OpenMiniOnHover="true">
                <MudNavMenu>
                    <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-bars-progress" IconColor="MudColor.Info"
                                @onclick="@(() => ClickChanged("user-tasks-tab"))">
                        User Tasks
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-address-book" IconColor="MudColor.Info"
                                @onclick="@(() => ClickChanged("contracts"))">
                        Contacts
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-inbox" IconColor="MudColor.Info"
                                @onclick="@(() => ClickChanged("sms-tab"))">
                        SMS Messaging
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-message" IconColor="MudColor.Info"
                                @onclick="@(() => ClickChanged("instant-messaging"))">
                        Instant Messaging
                    </MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-phone-rotary" IconColor="MudColor.Info"
                                @onclick="@(() => ClickChanged("phone-directory"))">
                        Phone Directory
                    </MudNavLink>
                </MudNavMenu>
            </MudDrawer>
            <div class="d-flex justify-center align-center">
                <Tabs SelectedTab="@_selectedTab" Style="width: 100%">
                    <Content>
                        <TabPanel Name="user-tasks-tab">
                            <UserTasksTab/>
                        </TabPanel>
                        <TabPanel Name="contacts">
                        </TabPanel>
                        <TabPanel Name="sms-tab">
                            <SmsTab/>
                        </TabPanel>
                        <TabPanel Name="instant-messaging">
                        </TabPanel>
                        <TabPanel Name="lab-messaging">
                        </TabPanel>
                        <TabPanel Name="phone-directory">
                        </TabPanel>
                    </Content>
                </Tabs>
            </div>
        </MudDrawerContainer>
    </MudPaper>
</div>

@code {
    private bool _open = true;
    string _selectedTab = "user-tasks-tab";

    private void ClickChanged(string tabName)
    {
        _selectedTab = tabName;
    }

}