@layout MainLayout
@page "/messaging"
@using Dexterity.Components.Pages.Messaging.Tabs
<TopTitleBar Title="Messaging"
             Image="modules/messaging/communication1.svg">
</TopTitleBar>

<div class="vertical-space">
    <InnerLayout>
        <NavigationItems>
            <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-bars-progress" IconColor="MudColor.Info"
                        @onclick="@(() => ClickChanged(0))">
                User Tasks
            </MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-address-book" IconColor="MudColor.Info"
                        @onclick="@(() => ClickChanged(1))">
                Contacts
            </MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-inbox" IconColor="MudColor.Info"
                        @onclick="@(() => ClickChanged(2))">
                SMS Messaging
            </MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-message" IconColor="MudColor.Info"
                        @onclick="@(() => ClickChanged(3))">
                Instant Messaging
            </MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-phone-rotary" IconColor="MudColor.Info"
                        @onclick="@(() => ClickChanged(4))">
                Phone Directory
            </MudNavLink>
        </NavigationItems>

        <DexContentTabs >
            <div class="d-flex justify-center align-center mt-lg-5" style="width: 100%!important;">
                <MudTabs @ref="_tabs">
                    <MudTabPanel Text="" Style="background-color: transparent">
                        <UserTasksTab/>
                    </MudTabPanel>
                    <MudTabPanel Text="">

                    </MudTabPanel>
                    <MudTabPanel Text="">
                        <SmsTab/>
                    </MudTabPanel>
                    <MudTabPanel Text="">

                    </MudTabPanel>
                    <MudTabPanel Text="">

                    </MudTabPanel>
                    <MudTabPanel Text="">

                    </MudTabPanel>

                </MudTabs>
            </div>

        </DexContentTabs>
    </InnerLayout>
</div>

@code {
    MudTabs _tabs;

    private void ClickChanged(int tabIndex)
    {
        _tabs.ActivatePanel(tabIndex);
    }


}