@layout MainLayout
@page "/messaging"
@using Dexterity.Components.Pages.Messaging.Tabs
<TopTitleBar Title="Messaging"
             Image="modules/messaging/communication1.svg">
</TopTitleBar>

<div class="vertical-space">
    <InnerLayout ShowHeader="false">
        <NavigationItems>
            <DexMenuItem Text="User Tasks" Icon="user-task-icon" Click="@(() => ClickChanged(0))"/>
            <DexMenuItem Text="Contacts" Icon="contact-icon" Click="@(() => ClickChanged(1))"/>
            <DexMenuItem Text="SMS Messaging" Icon="sms-message-icon" Click="@(() => ClickChanged(2))"/>
            <DexMenuItem Text="Instant Messaging" Icon="text-message-icon" Click="@(() => ClickChanged(3))"/>
            <DexMenuItem Text="Phone Directory" Icon="telephone-icon" Click="@(() => ClickChanged(4))"/>
        </NavigationItems>

        <DexContentTabs >
                <MudTabs @ref="_tabs">
                    <MudTabPanel Text="" Style="background-color: transparent">
                        <UserTasksTab/>
                    </MudTabPanel>
                    <MudTabPanel Text="">

                    </MudTabPanel>
                    <MudTabPanel Text="">
                        <SmsTab/>
                    </MudTabPanel>
                    <MudTabPanel Text="">

                    </MudTabPanel>
                    <MudTabPanel Text="">

                    </MudTabPanel>
                    <MudTabPanel Text="">

                    </MudTabPanel>

                </MudTabs>
        </DexContentTabs>
    </InnerLayout>
</div>

@code {
    MudTabs _tabs;

    private void ClickChanged(int tabIndex)
    {
        _tabs.ActivatePanel(tabIndex);
    }


}