@using Services.Features.PatientManagement.Dtos.Details
@using Services.Features.UserAccounts.Dtos.User
<DexDialog>
    <DialogTitle></DialogTitle>
    <Content>
        <DexForm ColumnCount="2" Model="@_patient" OnValidSubmit="CreatePatient">
            <Fields>
                <FormItem Field="@nameof(QuickAddPatientDto.FamilyName)" ColumnSpan="1" />
                <FormItem Field="@nameof(QuickAddPatientDto.FirstName)" ColumnSpan="1" />
                <FormItem Field="@nameof(QuickAddPatientDto.LastName)" ColumnSpan="1" />
                <FormItem Field="@nameof(QuickAddPatientDto.DateOfBirth)" EditorType="FormEditorType.DatePicker" ColumnSpan="1" />
                <FormItem Field="@nameof(QuickAddPatientDto.Gender)">
                    <Template>
                        <label class="e-form-label">Gender</label>
                        <SfDropDownList CssClass="" TValue="Gender" TItem="string" Placeholder="Gender" DataSource="@Genders" @bind-Value="@_patient.Gender">
                            <DropDownListTemplates TItem="string">
                                <ItemTemplate Context="value">
                                    <span>@value</span>
                                </ItemTemplate>
                            </DropDownListTemplates>
                        </SfDropDownList>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(QuickAddPatientDto.AddressLine1)">
                    <Template>
                        <DexInputBox Label="Address" @bind-FieldDataSource="@_patient.AddressLine1" IsMultiLine="true" />
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(QuickAddPatientDto.Mobile)" ColumnSpan="1" />
                <FormItem Field="@nameof(QuickAddPatientDto.Email)" ColumnSpan="1" />
                <FormItem Field="@nameof(QuickAddPatientDto.HcpId)">
                    <Template>
                        <SfDropDownList TValue="Guid" TItem="HealthcareDto" Placeholder="HCP" DataSource="@HealthCares" @bind-Value="@_patient.HcpId">
                            <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </Template>
                </FormItem>
            </Fields>
            <Buttons>
                <DexLoadingButton Name="Create Patient" Processing="_processing" Type="MudButtonType.Submit" />
            </Buttons>
        </DexForm>
    </Content>
</DexDialog>

@code {
    [CascadingParameter] public MudDialogInstance MudDialog { get; set; }
    private QuickAddPatientDto _patient { get; set; } = new();
    private List<HealthcareDto> HealthCares { get; set; } = new();
    private bool _processing;
    public IEnumerable<string> Genders = Enum.GetNames(typeof(Gender));

    protected override async Task OnInitializedAsync()
    {
        await GetHealthCares();
    }

    private async Task CreatePatient()
    {
        _processing = true;
        await Task.Delay(1000);
        var res = await UnitOfWork.Patient.QuickCreatePatient(_patient, default);
        if (res.Succeeded)
        {
            Snackbar.SuccessMessage(res.Messages.First());
            MudDialog.Close();
        }
        else
        {
            Snackbar.FailMessage(res.Messages.First());
        }

        _processing = false;
    }

    private async Task GetHealthCares()
    {
        HealthCares = await UnitOfWork.User.GetDoctors(ApplicationState.CurrentUser.ClinicId);
    }

}