@using Domain.Entities.Consultation.Immunisations
@using Domain.Entities.Consultation
<DexDialog>
    <DialogTitle>Add Schedule</DialogTitle>
    <Content>
        <RadzenCard Variant="RadVariant.Outlined" class="" Style="width: 100%;">
            <RadzenStack Orientation="RadOrientation.Horizontal" JustifyContent="RadJustifyContent.Start" Gap="10rem">
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Name</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1">
                        <b>@ApplicationState.SelectedPatient.Summary.Name</b>
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1">
                        <b>@ApplicationState.SelectedPatient.Summary.Address</b>
                    </RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Date Of Birth</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1">
                        <b>@ApplicationState.SelectedPatient.Summary.DateOfBirth (@ApplicationState.SelectedPatient.Summary.Age)</b>
                    </RadzenText>
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>
        <DexForm Model="_immunisationSchedule" ColumnCount="2" OnValidSubmit="SaveSchedule">
            <Fields>
                <FormItem Field="@nameof(ImmunisationSchedule.ScheduleDate)" LabelText="Schedule Date" EditorType="FormEditorType.DatePicker" ColumnSpan="1"/>
                <FormItem Field="@nameof(ImmunisationSchedule.Id)">
                    <Template>
                        <label class="e-form-label">Select Schedule</label>
                        <SfDropDownList TValue="string" TItem="ImmunisationProgram" Placeholder="Select a Schedule" DataSource="@_programs" ColumnSpan="1">
                            <DropDownListFieldSettings Value="Name" Text="Name"/>
                            <DropDownListEvents TValue="string" TItem="ImmunisationProgram" ValueChange="OnChangeSetup"></DropDownListEvents>
                        </SfDropDownList>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(ImmunisationSchedule.ImmunisationProgramId)" ColumnSpan="2">
                    <Template>
                        <label class="e-form-label">Course</label>
                        <SfListView DataSource="@_courses" Height="150px">
                            <ListViewFieldSettings Id="Id" Text="Name" TValue="Course"></ListViewFieldSettings>
                            <ListViewEvents TValue="Course" Clicked="@(e => OnCourseSelected(e))"></ListViewEvents>
                        </SfListView>
                    </Template>
                </FormItem>
            </Fields>
            <Buttons>
                <DexLoadingButton Name="Schedule" Type="MudButtonType.Submit"/>
            </Buttons>
        </DexForm>
    </Content>
</DexDialog>

@code {
    [CascadingParameter] public MudDialogInstance MudDiloag { get; set; }
    private List<ImmunisationProgram> _programs = new();
    private List<Course> _courses = new();
    private ImmunisationSchedule _immunisationSchedule = new();

    protected override async Task OnInitializedAsync()
    {
        await GetCourseSchedules();
    }

    private async Task GetCourseSchedules()
    {
        _programs = await UnitOfWork.Setting.GetImmunisationPrograms();
    }

    private async Task OnChangeSetup(ChangeEventArgs<string, ImmunisationProgram> args)
    {
        if (args.ItemData is null) return;
        var immunisationSetup = args.ItemData;
        _immunisationSchedule.ImmunisationProgramId = immunisationSetup.Id;
        _immunisationSchedule.PatientId = ApplicationState.SelectedPatient.Id;
        _courses = await UnitOfWork.Setting.GetAssignedCoursesOfProgram(immunisationSetup.Id);
    }


    private async Task OnCourseSelected(ClickEventArgs<Course> args)
    {
        if (args.ItemData is null) return;
        var course = args.ItemData;
        var shots = await UnitOfWork.Setting.GetAssignedShotToCourse(course.Id);
    }

    private async Task SaveSchedule()
    {
        var res = await UnitOfWork.Consultation.SaveImmunisationSchedule(_immunisationSchedule);
        if (res.Succeeded)
        {
            Snackbar.SuccessMessage(res.Messages.First());
            MudDiloag.Close();
        }
        else
        {
            Snackbar.FailMessage(res.Messages.First());
        }
    }

}