@using Dexterity.Components.Pages.Messaging.Components
<style>
    .tab-content{
        width: 75%!important;
    }
    .mud-drawer {
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);!important;
        color: #ffffff !important;;
    }
</style>
@if (_comLoading)
{
    <CommonLoader/>
}
else
{
    <MudPaper Height="500px" Style="overflow:hidden; position:relative;margin-top: 3%">
        <MudDrawerContainer Class="mud-height-full">
            <MudDrawer Style="background-color: #319ae1;background-image: linear-gradient(135deg, #319ae1 0%, #bdbdd4 100%);;!important; color: #ffffff !important;;" @bind-Open="@_open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
                <MudNavMenu>
                    <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-message" IconColor="MudColor.Info" @onclick="@(() => ClickChanged("Sms"))">Sms</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-envelopes-bulk" IconColor="MudColor.Info" @onclick="@(() => ClickChanged("bulk-msg"))">Bulk Sms</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="fab fa-whatsapp" IconColor="MudColor.Info" @onclick="@(() => ClickChanged("whatsapp"))">WhatsApp</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="fas fa-envelope" IconColor="MudColor.Info" @onclick="@(() => ClickChanged("send-mail"))">Email</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
            <div class="d-flex justify-center align-center">
                <Tabs SelectedTab="@_selectedTab" Style="width: 100%;margin-top: 3%">
                    <Content>
                        <TabPanel Name="Sms">
                            <SendMessaging PatientList="PatientList"/>
                        </TabPanel>
                        <TabPanel Name="bulk-msg">
                            <BulkMessage PatientList="PatientList"/>
                        </TabPanel>
                        <TabPanel Name="whatsapp">
                            <SendWhatsApp PatientList="PatientList"/>

                        </TabPanel>
                        <TabPanel Name="send-mail">
                            <SendEmail PatientList="PatientList"/>

                        </TabPanel>
                    </Content>
                </Tabs>
            </div>
        </MudDrawerContainer>
    </MudPaper>
}


@code {
    private bool _comLoading;
    private bool _open = false;

    private List<PatientListResponse> PatientList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _comLoading = true;
        await GetPatients();
        _comLoading = false;
    }

    private async Task GetPatients()
    {
        await Task.Delay(2000);
        PatientList = await UnitOfWork.Patient.GetPatients();
    }

    string _selectedTab = "Sms";

    private void ClickChanged(string tabName)
    {
        _selectedTab = tabName;
    }

}