<MudPaper Height="@AllHeight">
    <Layout>
        <Layout Sider>
            <LayoutSider>
                <LayoutSiderContent >
                    <MudDrawerContainer>
                        <MudDrawer Height="@AllHeight" Class="sub-drawer" Style="" @bind-Open="@_open" Fixed="false" Elevation="1"
                                   Variant="@DrawerVariant.Mini"
                                   OpenMiniOnHover="true">
                            <MudNavMenu>
                                @NavigationItems
                            </MudNavMenu>
                        </MudDrawer>
                    </MudDrawerContainer>
                </LayoutSiderContent>
            </LayoutSider>
            <Layout>
                <LayoutContent Style="margin-left:150px">
                    <MudPaper Elevation="0" Height="@AllHeight" Style="overflow-x:hidden; overflow-y:auto; position:relative;">
                        <div class="d-flex justify-center align-center">
                            @DexContentTabs
                        </div>
                    </MudPaper>

                </LayoutContent>
            </Layout>
        </Layout>
    </Layout>
</MudPaper>
@code {
    private bool _open = true;
    [Parameter] public string AllHeight { get; set; } = "800px";
    [Parameter]
    public RenderFragment NavigationItems { get; set; }

    [Parameter]
    public RenderFragment DexContentTabs { get; set; }
}
