@using Domain.Entities.Consultation
<div class="mt-2">
    <SfGrid DataSource="Prescriptions">
        <GridColumns>
            <GridColumn Field="@nameof(Prescription.Quantity)" Type="ColumnType.Integer" HeaderText="QT" Width="40px"/>
            <GridColumn Field="@nameof(Prescription.Drug.GenericName)" HeaderText="Drug">
                <Template>
                    @{
                    var item = (context as Prescription);
                    <span>@item!.Drug.GenericName</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field="@nameof(Prescription.Status)"/>
            <GridColumn Field="@nameof(Prescription.Type)"/>
            <GridColumn Field="@nameof(Prescription.Duration)"/>
            <GridColumn Field="@nameof(Prescription.Initiated)"/>
            <GridColumn Field="@nameof(Prescription.AddedBy)">
                <Template>
                    @{
                    var item = (context as Prescription);
                    <span>@item!.AddedBy.FullName</span>
                    }
                </Template>
            </GridColumn>

        </GridColumns>
    </SfGrid>

</div>
@code {

    [Parameter] public List<Prescription> Prescriptions { get; set; } = new();
}