@using Services.Features.PatientManagement.Dtos.Details
@using Services.Features.UserAccounts.Dtos.User


<FormItems>
    <FormGroup LabelText="Patient Details" ColumnCount="2" ColumnSpacing="5px">
        <FormItem Field="@nameof(Patient.FamilyName)" LabelText="Family Name" ColumnSpan="1"/>
        <FormItem Field="@nameof(Patient.FirstName)" LabelText="First Name" ColumnSpan="1"/>
        <FormItem Field="@nameof(Patient.LastName)" LabelText="Last Name" ColumnSpan="1"/>
        <FormItem Field="@nameof(Patient.IhiNumber)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">IHI Number:</label>
                <SfTextBox @bind-Value="Patient.IhiNumber" Readonly="true"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.Ppsn)" LabelText="PPSN" ColumnSpan="1"/>
        <FormItem Field="@nameof(Patient.BirthSurname)" LabelText="Surname" ColumnSpan="1"/>
        <FormItem Field="@nameof(Patient.Title)" LabelText="Title" ColumnSpan="1" Placeholder="e.g. Miss Mr Dr."/>
        <FormItem Field="@nameof(Patient.DateOfBirth)" EditorType="FormEditorType.DatePicker" LabelText="DOB" ColumnSpan="1"/>
        <FormItem Field="@nameof(Patient.Gender)" LabelText="Gender" ColumnSpan="1"></FormItem>
        <FormItem Field="@nameof(Patient.HomePhone)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">Phone:</label>
                <SfTextBox @bind-Value="@Patient.HomePhone"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.MobilePhone)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">Mobile:</label>
                <SfMaskedTextBox Mask="000-000-0000" @bind-Value="Patient.MobilePhone"></SfMaskedTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.Email)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">Email Address:</label>
                <SfTextBox @bind-Value="@Patient.Email"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.DispensingStatus)" ColumnSpan="1">
            <Template>
                <SfCheckBox Label="Dispensing Status" @bind-Checked="Patient.DispensingStatus"></SfCheckBox>
            </Template>
        </FormItem>

    </FormGroup>
    <FormGroup LabelText="Address Details" ColumnCount="2" ColumnSpacing="5px">
        <FormItem Field="@nameof(Patient.AddressLine1)" ColumnSpan="2">
            <Template>
                <label class="e-form-label">Address Line 1:</label>
                <SfTextBox @bind-Value="@Patient.AddressLine1" Multiline></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.AddressLine2)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">Address Line 2:</label>
                <SfTextBox @bind-Value="@Patient.AddressLine2"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.EriCode)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">Ericode:</label>
                <SfTextBox @bind-Value="@Patient.EriCode"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.County)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">County:</label>
                <SfTextBox @bind-Value="@Patient.County"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.City)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">City:</label>
                <SfTextBox @bind-Value="@Patient.City"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.Country)" ColumnSpan="2">
            <Template>
                <label class="e-form-label">Country:</label>
                <SfTextBox @bind-Value="@Patient.Country"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.HcpId)" ColumnSpan="2">
            <Template>
                <label class="e-form-label">HCP:</label>
                <SfDropDownList TValue="Guid" TItem="HealthcareDto" Placeholder="HCP" DataSource="@HealthCares" @bind-Value="@Patient.HcpId">
                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                </SfDropDownList>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.PatientType)" LabelText="Patient Type" ColumnSpan="1"></FormItem>
        <FormItem Field="@nameof(Patient.PatientStatus)" LabelText="Patient Status" ColumnSpan="1"></FormItem>
    </FormGroup>
    <FormGroup LabelText="GMS Details" ColumnCount="2" ColumnSpacing="5px">
        <FormItem Field="@nameof(Patient.GmsStatus)" ColumnSpan="2">
            <Template>
                <label class="e-form-label">GMS Status:</label>
                <MudStack Row>
                    <SfRadioButton Label="Yes" Name="options" Value="Active" @bind-Checked="Patient.GmsStatus" @onchange="OnGMSStatusChange"></SfRadioButton>
                    <SfRadioButton Label="No" Name="options" Value="Inactive" @bind-Checked="Patient.GmsStatus" @onchange="OnGMSStatusChange"></SfRadioButton>

                </MudStack>
            </Template>
        </FormItem>

        <FormItem Field="@nameof(Patient.GmsDoctor)" ColumnSpan="2">
            <Template>
                <label class="e-form-label">GMS Doctor:</label>
                <SfTextBox @bind-Value="Patient.GmsDoctor" Enabled="@Patient.IsGmsActive"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.GmsDoctorNumber)" ColumnSpan="2">
            <Template>
                <label class="e-form-label">GMS Doctor No:</label>
                <SfTextBox @bind-Value="Patient.GmsDoctorNumber" Enabled="@Patient.IsGmsActive"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.GmsPatientNumber)" ColumnSpan="2">
            <Template>
                <label class="e-form-label">Patient GMS No:</label>
                <SfTextBox @bind-Value="Patient.GmsPatientNumber" Enabled="@Patient.IsGmsActive"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.GmsReviewDate)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">GMS Review Date:</label>
                <SfDatePicker TValue="DateTime" Placeholder="Choose a Date" FullScreen="true" ShowClearButton="true" @bind-Value="@Patient.GmsReviewDate" Enabled="@Patient.IsGmsActive"></SfDatePicker>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(Patient.GmsDistanceCode)" ColumnSpan="1">
            <Template>
                <label class="e-form-label">Distance Code:</label>
                <SfTextBox @bind-Value="Patient.GmsDistanceCode" Enabled="@Patient.IsGmsActive"></SfTextBox>
            </Template>
        </FormItem>

    </FormGroup>
</FormItems>


@code {
    [Parameter] public UpsertPatientDto Patient { get; set; } = new();
    private List<HealthcareDto> HealthCares { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        await GetHealthCares();
    }

    private async Task GetHealthCares()
    {
        HealthCares = await UnitOfWork.User
            .GetUsersByClinic(ApplicationState.CurrentUser.ClinicId);
    }

    private void OnGMSStatusChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        Patient.IsGmsActive = Patient.GmsStatus == "Active";
    }


}