@using Services.Features.PatientManagement.Dtos.Details
@using Services.Features.PatientManagement.Dtos.Options
<DexDialog>
    <DialogTitle>Hospital Detail</DialogTitle>
    <Content>
        <DexForm Model="_patientHospital" OnValidSubmit="SaveHospital">
            <Fields>
                <FormItem Field="@nameof(_patientHospital.HospitalId)">
                    <Template>
                        <label class="e-form-label">Hospital</label>
                        @if (!_loading)
                        {
                            <SfDropDownList TValue="int" Placeholder="e.g. select hospital" TItem="HospitalDto"
                                            @bind-Value="_patientHospital.HospitalId" DataSource="@_hosptials">
                                <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="HospitalDto" TValue="int" ValueChange="@ValueChangeHandler"></DropDownListEvents>
                            </SfDropDownList>
                        }
                        else
                        {
                            <p>Getting data...</p>
                        }
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(_patientHospital.Name)">
                    <Template>
                        <label class="e-form-label">Name</label>
                        <SfTextBox Readonly @bind-Value="@_patientHospital.Name"></SfTextBox>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(_patientHospital.Address)">
                    <Template>
                        <label class="e-form-label">Address</label>
                        <SfTextBox Readonly @bind-Value="@_patientHospital.Address"></SfTextBox>
                    </Template>
                </FormItem>
            </Fields>
            <Buttons>
                <DexLoadingButton Name="Save" Type="MudButtonType.Submit" Processing="_processing"/>
            </Buttons>
        </DexForm>
    </Content>
</DexDialog>

@code {
    [CascadingParameter] public MudDialogInstance MudDialog { get; set; }
    [Parameter] public Guid Id { get; set; }
    private List<HospitalDto> _hosptials = new();
    private readonly PatientHospitalDto _patientHospital = new();
    private bool _processing;
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        await GetClinics();
    }

    private async Task GetClinics()
    {
        _loading = true;
        _hosptials = await UnitOfWork.Patient.GetHospitals();
        _loading = false;
    }

    private void ValueChangeHandler(ChangeEventArgs<int, HospitalDto> obj)
    {
        var clinic = obj.ItemData;
        _patientHospital.HospitalId = clinic.Id;
        if (clinic.Id > 0)
        {
            _patientHospital.Name = clinic.Name;
            _patientHospital.Address = clinic.Address1;
        }
    }

    public async Task SaveHospital()
    {
        _processing = true;
        _patientHospital.PatientId = Id;
        var res = await UnitOfWork.Patient.SelectHospital(_patientHospital);
        if (res.Succeeded)
        {
            Snackbar.SuccessMessage(res.Messages.First());
            MudDialog.Close();
        }
        else
        {
            Snackbar.FailMessage(res.Messages.First());
        }

        _processing = false;
    }

}